<table id="t_resultadoBusqueda" >
	{{#each recurso}} 
		<tr>
			<td>
				<input type="checkbox" class="idRecurso" value="{{id_recurso}}" id="check_{{recurso.id_recurso}}"/>
				<a href="{{url_base}}recurso/ver/contenido/{{id_recurso}}" id="{{id_recurso}}" class="preview_link">
						<img src="{{icono}}" title="{{extension}}" width="16" height="16" border="0" />
				</a>
			</td>
			<td>
				<a href="{{url_base}}recurso/ver/contenido/{{id_recurso}}" class="preview_link">
						{{#if titulo}}
							{{titulo}}
						{{else}}
							Sin t&iacute;tulo
						{{/if}}
						<br/>
						{{#if descripcion}}
							{{descripcion}}
						{{else}}
							Sin descripci&oacute;n
						{{/if}} 
						<br/>Extension: <span id="ext_{{id_recurso}}">{{extension}}</span>
					</a>	
			</td>
		</tr>
	{{/each}}
</table>